@model IEnumerable<Souq_Store.Models.Category>
<div class="container mt-5 mb-5">

    <form asp-action="CategorySearch" method="post">
        <div class="row">

            <input type="submit" value="Search" class="col-sm-2 btn btn-primary" />

            <div class="col-sm-10">
                <input type="text" name="term" style="text-align:right" required class="form-control" placeholder="Search" />
            </div>

        </div>
    </form>

</div>

<section id="portfolio" class="portfolio">

    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Categories</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row portfolio-container">

            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="@item.Photo" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>@item.Name</h4>
                            <p>@item.Description</p>
                        </div>
                        <div class="portfolio-links">
                            <a href="/Home/ProductsByCategoryId/@item.Id" title="Related Products"><i class="bx bx-link"></i></a>
                        </div>
                    </div>
                </div>
            }



        </div>

        @if (ViewBag.isAdmin)
        {
           <div class="text-center">
              <a href="/Categories" class="btn btn-primary">Manage Category</a>
           </div>
        }

    </div>
</section>